
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div >
        <div class="bg-secondary">

            <div>
                <div class="text-center bg-light"> <h1> My Layout</h1></div>
            </div>
            <br />
            
            <div class="d-block d-flex justify-content-center align-items-center">
                <div class="">@RenderBody()</div>
                <br />
            </div>

                <div class="text-center bg-warning">
                    <h2>Contact Us :  Ajay Bhosle </h2>
                    <pre>Mo No : 9322864132</pre>
                
            </div>
        </div>

    </div>
</body>
</html>
