

<h2>listing</h2>

<table border="1">
    <thead>
        <th>Name</th>
        <th>id</th>
        <th>RollNo</th>
    </thead>
        <tbody>
            <tr>
                <td>Ajay</td>
                <td>1</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Vijay</td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Om</td>
                <td>1</td>
                <td>22</td>
            </tr>
        </tbody>
</table>

