
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Self_Layout1</title>
</head>
<body>
    <div> 
        <div>
            <h1 style="text-align:center">My Self Layout</h1>
        </div>
        <div style="display:flex;justify-content:center;align-items:center">
            <div style="width:400px; height:400px ; background-color:cornflowerblue">
                @RenderBody()
            </div>
        </div>
        <br />
        <div style="text-align:center">
           <h2><strong>
                    It is Footer Section....!
                    contact us: Ajay Bhosle
                    <pre>Mo NO : 9322864132</pre>
               </strong></h2>

        </div>

    </div>
</body>
</html>
