
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not_Found_404</title>
</head>
<body>
    <div>
        <h1> Plz Enter Correct Url on Broswer</h1>
        <h4>@Html.ActionLink("Home Page", "Index", "Home", null, new { @class = "btn btn-success" })</h4>
    </div>
</body>
</html>
