
@{
    ViewBag.Title = "IndexLayout";
    //Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>IndexLayout 1 Page Content</h2>
<input type="button" value="Explore" class="btn bg-warning"/>

@section SideLinks{
    
    <ul class="nav flex-column col-3">
        <li class="nav-item">Index Layout 1 Item1</li>
        <li class="nav-item">Index Layout 1 Item2</li>
        <li class="nav-item">Index Layout 1 Item3</li>

    </ul>
}