<html>
<body>
    <header>
        
        Hello I am Header Section
    </header>
    <main>
        @RenderBody() <!-- This renders the main content view -->
    </main>
    <footer>
        I am a Footer Section
    </footer>
</body>
</html>
