

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Form Name Method</h1>
        <br />
        <h2>Product Id : </h2>
    </div>
</body>
</html>
