<ul class="nav bg-info">
    <li class="nav-item ">
        @* <a class="nav-link active" href="#">Home</a>
        *@
        @Html.ActionLink("Login", "Index", null, new { @class = "nav-item nav-link" })
    </li>
    <li class="nav-item">
        @*<a class="nav-link active" href="#">About US</a>*@
        @Html.ActionLink("Register", "Index1", null, new { @class = "nav-item nav-link" })

    </li>
