


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CacheDemo</title>
</head>
<body>
    <div> 
        <h1>cache Demo Page</h1>

        <h3>Cache Settime : @ViewBag.sleepTime </h3>
        @Html.ActionLink("Home Page", "Index", "Home")
    </div>
</body>
</html>
