
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        <h2>Home controller Index1 View Page</h2>
        @Html.ActionLink("Index Page","Index")
    </div>
</body>
</html>
